@page "/Oversigt"
@using OrganicFest.Shared
@inject HttpClient Http;

<PageTitle>Liste af Vagter</PageTitle>

<h1>Oversigt over Vagter</h1>

@if (JobList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var job in JobList)
            {
                <tr class="JobRow">
                    <td>
                        <h2>@job.Jobnavn </h2>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => ShowJob(job)">Vis</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ModalDialog @ref="@modalRef" Title="Frivillige Liste">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>TelefonNr</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var frivillig in SelectedFrivillige)
                {
                    <tr class="bookingRow">
                        <th>@frivillig.FID</th>
                        <th>@frivillig.Name</th>
                        <th>@frivillig.Email</th>
                        <th>@frivillig.Telefonnummer</th>
                    </tr>
                }
            </tbody>
        </table>
    </ModalDialog>
}

@code {
    private List<Job> JobList = new List<Job>();
    private List<Frivillig> SelectedFrivillige = new List<Frivillig>();
    private Job SelectedJob;
    private ModalDialog modalRef { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            JobList = await Http.GetFromJsonAsync<List<Job>>("api/jobs");
        }
        catch (Exception ex)
        {
            // Log eller håndter fejlen her
            Console.WriteLine($"Fejl ved indlæsning af jobs: {ex.Message}");
        }
    }

    private async void ShowJob(Job job)
    {
        SelectedJob = job;
        var t = await Http.GetFromJsonAsync<List<Frivillig>>($"api/Frivillig");
        SelectedFrivillige = t.Where(f => f.FID.Equals(job.FID)).ToList();
        modalRef.Open();
    }
}
